.nome{
    text-align: center;
    font-family: cursive, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.perfill{
    padding: 0%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
body{
    background-color: #4B67C3;

    color: #FFFFFF;
}
.nacionalidade{
    font-weight: 600;
}
.hab1{
    font-size: 30px;
}
.hab2{
    font-size: 25px;
}
.hab3{
    font-size: 20px;
}
#foto{
    padding: 10px;
    float: left;
    width: 180px;
    background-color:#66CC80;
}
.imagecontainer{
    height: 200px;
    
}
div{
   border: 2px solid purple;
}
.hab li:nth-child(odd){
    background-color: #66CC80;
}